body {
  font-family: sans-serif;
  color: #2d3c49;
}

figcaption {
  text-align: center;
}

.all {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  border-bottom: 3px solid #7d97ad;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.main_section {
  width: 100%;
  flex-direction: row;
  display: inline-flex;
  justify-content: space-around;
}

.cat-box {
  width: 50%;
  padding: 3%;
  flex-direction: column;
  align-items: center;
}

.main_image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.name-text {
  justify-content: center;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 850px) and (min-width: 551px) {}

@media screen and (max-width: 550px) {}